<h2><%= t('.title') %></h2>
<hr>

<%= link_to t('.new'),  new_product_path %>

<%= turbo_frame_tag 'categories' do %>

    <ul>
        <li> <%= link_to t('.all'), products_path %> </li>
        <%= render partial: 'category', collection: @categories %>
    </ul>

    <%= form_with url: products_path, method: :get do |form| %>
        <%= form.text_field :search_text, placeholder: t('.search_text'), onChange: 'this.form.requestSubmit()', value: params[:search_text]%><br>
        <%= form.number_field :min_price, placeholder: t('.min_price'), onChange: 'this.form.requestSubmit()', value: params[:min_price] %>
        <%= form.number_field :max_price, placeholder: t('.max_price'), onChange: 'this.form.requestSubmit()', value: params[:max_price] %><br>
        <%= form.select :order_by, options_for_select(Product::ORDER_BY.keys.map { |order| [t(".#{order}"), order]}, params[:order_by]), {}, {
            onChange: 'this.form.requestSubmit()'
        } %>
    <% end %>

    <%= render partial: 'product', collection: @products %>
<% end %>
